@using Kendo.Mvc.UI
@model Application.Dto.Merchant.MerchantDto

@{
    ViewBag.Title = "Create New Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .label {
        width: 100px !important;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<div class="well">
    <p>Fields marked with an asterisk <span class="requiredField">*</span> are required</p>

    <div class="ui-widget-header">
        <h3 style="margin-left: 5px">Update Merchant</h3>
    </div>

    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <div class="ui-widget-content" style="padding: 5px;">

                <div class="row">
                    <div class="span4">
                        <h4>Merchant Information</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        @Html.LabelFor(model => model.MerchantDescriptionId, new { @class = "label required", @style = "width:150px !important" })
                    </div>
                    <div class="span2">
                        @Html.Kendo().DropDownListFor(a => a.MerchantDescriptionId).BindTo(ViewData["MerchantDescriptions"] as SelectList).SelectedIndex(0).HtmlAttributes(new { @style = "width: 243px;" })
                        @*@Html.ValidationMessageFor(model => model.MerchantDescriptionId)*@
                    </div>
                    <div class="span2 offset2">
                        @Html.LabelFor(model => model.CompanyTypeId, new { @class = "label required", @style = "width:150px !important" })
                    </div>
                    <div class="span2">
                        @Html.Kendo().DropDownListFor(a => a.CompanyTypeId).BindTo(ViewData["GetCompanyTypes"] as SelectList).SelectedIndex(0).HtmlAttributes(new { @style = "width: 243px;" })
                        @*@Html.ValidationMessageFor(model => model.CompanyTypeId)*@
                    </div>

                </div>


                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContractNumber, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContractNumber,new{@maxlength ="20"})
                            @Html.ValidationMessageFor(model => model.ContractNumber)

                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.RegisteredName, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.RegisteredName,new{@maxlength ="40"})
                            @Html.ValidationMessageFor(model => model.RegisteredName)

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.Name, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.Name,new{@maxlength ="40"})
                            @Html.ValidationMessageFor(model => model.Name)


                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.RegistrationNumber, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.RegistrationNumber,new{@maxlength ="40"})
                            @Html.ValidationMessageFor(model => model.RegistrationNumber)

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.TradingName, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.TradingName,new{@maxlength ="40"})
                            @Html.ValidationMessageFor(model => model.TradingName)

                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.VATNumber, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.VATNumber,new{@maxlength ="20"})

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.CompanyGroupName, new { @class = "label", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.CompanyGroupName,new{@maxlength ="40"})

                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.FranchiseName, new { @class = "label", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.FranchiseName,new{@maxlength ="40"})

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.IsApproved, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            <span style="width :150px ; margin-right:5px;"></span>
                            @Html.CheckBoxFor(model => model.IsApproved, new { @disabled = "disabled" })

                        </div>
                        <div class="span2 offset2">
                            <span class="label " style="width: 150px !Important; margin-bottom:5px;">
                                Deposit Slip Email
                            </span>
                        </div>
                        <div class="span2">
                            <span style="width :150px ; margin-right:5px;"></span>
                            @Html.CheckBoxFor(model => model.DepositSlipEmailIndicator)
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="span4">
                        <h4>Contact Information</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContactPerson1, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson1,new{@maxlength ="20"})
                            @Html.ValidationMessageFor(model => model.ContactPerson1)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.ContactPerson2, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson2,new{@maxlength ="20"})

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContactPerson1Phone, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson1Phone, new { @class = "tbstyle", @maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.ContactPerson1Phone)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.ContactPerson2Phone, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson2Phone, new { @class = "tbstyle", @maxlength = "10" })

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.EmailAddress, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson1EmailAddress,new{@maxlength ="50"})
                            @Html.ValidationMessageFor(model => model.ContactPerson1EmailAddress)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.EmailAddress, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson2EmailAddress,new{@maxlength ="50"})
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContactPerson1Designation, new { @class = "add-on required", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson1Designation,new{@maxlength ="20"})
                            @Html.ValidationMessageFor(model => model.ContactPerson1Designation)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.ContactPerson2Designation, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPerson2Designation,new{@maxlength ="20"})
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.FinancialAccountant, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.FinancialAccountant,new{@maxlength ="20"})
                            @Html.ValidationMessageFor(model => model.FinancialAccountant)

                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.FinancialAccountantEmailAddress, new { @class = "add-on", @style = "width:150px" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.FinancialAccountantEmailAddress,new{@maxlength ="50"})
                            @Html.ValidationMessageFor(model => model.FinancialAccountantEmailAddress)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.Comments, new { @class = "add-on", @style = "width:150px" })
                        </div>

                        <div class="span9">
                            <span style="width :150px ; margin-right:6px;"></span>
                            @Html.TextAreaFor(model => model.Comments, new { @style = "width:100%" })
                            @Html.HiddenFor(model => model.ActiveStatus)
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.MerchantId)
                
                <div class="row">
                    <div class="span2 offset6">
                        <input name="command" type="submit" value="Save" class="btn btn-primary" style="width: 100px" />
                    </div>
                    <div class="span2">
                        <span style="width :150px ; margin-right:21px;"></span>
                        <a onclick='ExecDelete()' class="btn btn-success" style="width: 70px; margin-left: -45px">Delete</a>
                    </div>
                    <div class="span1">
                        <a href='@Url.Action("Index")' id="confirm"  class="btn btn-danger" style="width: 70px; margin-left: -45px">Exit</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<style type="text/css">
    .requiredField {
        font-weight: bold;
        font-size: 12pt;
    }

    #btnSubmit {
        visibility: hidden;
        top: -20px;
        position: absolute;
    }
</style>


<script type="text/javascript">

    $("#confirm").easyconfirm({ locale: { title: 'Confirm', button: ['No', 'Yes'], text: 'Merchant record is not yet Saved. Do you want to continue?' } });

    function Error() {
        $('#trloading').hide();
    }
</script>


<script id="approve-confirmation" type="text/x-kendo-template">
    <div>
        <img src="@Url.Content("~/Content/Images/question.png")" style="float:left" />
        <p style="margin-left:10px; float:rigth" class="approve-message"> &nbsp; &nbsp;Do you want to submit Merchant for Approval?</p></td>
    </div>

    <div style="margin-left:160px; margin-top:5px;">
        <button id="btnApproveConfirm" class="approve-confirm k-button" style="width:80px">Yes</button>
        <button id="btnApproveCancel" class="approve-cancel k-button" style="width:80px">No</button>
    </div>

</script>


<script id="delete-confirmation" type="text/x-kendo-template">

    <div>
        <img src="@Url.Content("~/Content/Images/question.png")" style="float:left" />
        <p style="margin-left:10px; float:rigth" class="delete-message"> &nbsp; &nbsp;Do you want to delete Merchant?</p></td>
    </div>

    <div style="margin-left:160px; margin-top:5px;">
        <button class="delete-confirm k-button" style="width:80px">Yes</button>
        <button class="delete-cancel k-button" style="width:80px">No</button>
    </div>

</script>


<script type="text/javascript">

    function ExecDelete() {

        var url = '@Url.Action("Delete")/?id=' + @Model.MerchantId;

        var kendoWindow = $("<div />").kendoWindow({
            title: "Confirm Delete",
            resizable: false,
            modal: true,
            width: "430px",
            height: "160px"
        });

        kendoWindow.data("kendoWindow")
            .content($("#delete-confirmation").html())
            .center().open();

        kendoWindow
            .find(".delete-confirm,.delete-cancel")
            .click(function () {
                if ($(this).hasClass("delete-confirm")) {
                    $.post(url, function (data) {
                        window.location.href = data.url;
                    });
                }

                kendoWindow.data("kendoWindow").close();
            })
            .end();
    }

</script>
