@using System.Collections
@using Domain.Data.Model
@using Kendo.Mvc.UI
@model Application.Dto.Product.ProductDto

@{
    Layout = null;
}

<div class="Vault">
    <div class="ui-widget-header" style="margin-bottom: 5px">
        <h5 style="margin-left: 5px;">mySBV.vault Product Fees</h5>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.DeviceSupplierId, new { @class = "label required", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.DropDownListFor(a => a.DeviceSupplierId, ViewData["Suppliers"] as SelectList, new { @disabled = "disabled", id = "ddlSupplier", @class = "dropdown", @style = "margin-left: 57px; width:161px !important" })
        </div>

        <div class="span2 offset2">
            @*@Html.LabelFor(model => model.DeviceId, new { @class = "label required", @style = "width:205px !important" })*@
        </div>
        <div class="span2">
            @*@Html.DropDownListFor(a => a.DeviceId, ViewData["devices"] as SelectList, new { @disabled = "disabled", id = "ddlDevices", @class = "dropdown", @style = "margin-left: 57px; width:161px !important" })*@
        </div>
    </div>
    
    
    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.DeviceTypeId, new { @class = "label required", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.DropDownListFor(a => a.DeviceTypeId, ViewData["devices"] as SelectList, new { @disabled = "disabled", id = "ddlDevices", @class = "dropdown", @style = "margin-left: 57px; width:161px !important" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.SerialNumber, new { @class = "label required", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(a => a.SerialNumber, new { @disabled = "disabled", @maxlength = "4", id = "txtSerialNumber", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.CashProcessingFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(a => a.CashProcessingFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "CashProcessingFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.CashProcessingFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashProcessingFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.PenaltyFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.PenaltyFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "PenaltyFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.PenaltyFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.PenaltyFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.MonthlySubscriptionFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.MonthlySubscriptionFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "MonthlySubscriptionFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.MonthlySubscriptionFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.MonthlySubscriptionFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.MinMonthlyFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.MinMonthlyFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "MinMonthlyFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.MinMonthlyFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.MinMonthlyFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.VolumeBreakerValueMinCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.VolumeBreakerValueMinCode, new { @disabled = "disabled", @maxlength = "5", id = "VolumeBreakerValueMinCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })

        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.VolumeBreakerValueMinFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.VolumeBreakerValueMinFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.VolumeBreakerValueMaxCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.VolumeBreakerValueMaxCode, new { @disabled = "disabled", @maxlength = "5", id = "VolumeBreakerValueMaxCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })

        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.VolumeBreakerValueMaxFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.VolumeBreakerValueMaxFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.CashDeviceRentalFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashDeviceRentalFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "CashDeviceRentalFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.CashDeviceRentalFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashDeviceRentalFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.CashDeviceRiskCoverCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashDeviceRiskCoverCode, new { @disabled = "disabled", @maxlength = "5", id = "CashDeviceRiskCoverCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.CashDeviceRiskCoverFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashDeviceRiskCoverFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.CashInDeviceRiskCoverCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashInDeviceRiskCoverCode, new { @disabled = "disabled", @maxlength = "5", id = "CashInDeviceRiskCoverCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.CashInDeviceRiskCoverFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashInDeviceRiskCoverFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.DeviceTrainingFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.DeviceTrainingFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "DeviceTrainingFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.DeviceTrainingFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.DeviceTrainingFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.CashInstallationFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashInstallationFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "CashInstallationFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.CashInstallationFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.CashInstallationFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @Html.LabelFor(model => model.DeviceMovementFeeCode, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.DeviceMovementFeeCode, new { @disabled = "disabled", @maxlength = "5", id = "DeviceMovementFeeCode", @class = "code", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>

        <div class="span2 offset2">
            @Html.LabelFor(model => model.DeviceMovementFee, new { @class = "label", @style = "width:205px !important" })
        </div>
        <div class="span2">
            @Html.TextBoxFor(model => model.DeviceMovementFee, new { @disabled = "disabled", @class = "value", @readonly = "readonly", @style = "margin-left: 57px; width:150px !important", tabindex = "6" })
        </div>
    </div>

    <script language="javascript">

    $("#ddlSupplier").change(function () {
        var id = $(this).val();

        $.getJSON('@Url.Action("GetDevices")', { supplierId: id }, function (result) {

            var devicesSelected = $('#ddlDevices');
            devicesSelected.empty();

            devicesSelected.append($('<option/>', {
                value: -1,
                text: "Please Select"
            }));

            $.each(result, function (index, device) {
                devicesSelected.append($('<option/>', {
                    value: device.value,
                    text: device.text
                }));
            });
        });

    });

    </script>



</div>
