<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/kendo")
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="content-wrapper">
        <div class="wrap .hidden-phone">
            <h1 class="sbvIcon" style="margin-left: 50px"><img src="~/Content/Images/logo.png" alt="logo.png" /></h1>
            <div class="sbvlogo" style="margin-left: 80px"><img src="~/Content/Images/SBVhome.png" alt="Sbv home"></div>

            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("User");
            }
        </div>

        @if (!User.Identity.IsAuthenticated)
        {
            <div id='cssmenu' style="margin-top:5px">
                <ul>
                    <li class='active'>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        }
        else
        {
            <div id='cssmenu' style="margin-top:5px">
                <ul>
                    <li class='active'>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class='has-sub'>
                        <a href='#'><span>Cash Handling</span></a>
                        <ul>
                            <li>@Html.ActionLink("Cash Deposits", "Index", "CashDeposit")</li>
                            <li class='last'>@Html.ActionLink("Cash Deposit Processing", "ProcessCashDeposit", "CashProcessing")</li>
                            <li class='last'>@Html.ActionLink("Cash Order Processing", "ProcessOrder", "CashOrder")</li>
                        </ul>
                    </li>
                    <li class='has-sub'>
                        <a href='#'><span>Order</span></a>
                        <ul>
                            <li class='has-sub'>
                                <a href='#'><span>Cash</span></a>
                                <ul>
                                    <li><a href='#'><span>Bulk</span></a></li>
                                    <li>@Html.ActionLink("Float", "Index", "CashOrder")</li>
                                    <li class='last'><a href='#'><span>ATM</span></a></li>
                                </ul>
                            </li>
                            <li><a href='#'><span>Ad Hoc</span></a></li>
                            <li class='has-sub'>
                                <a href='#'><span>Consumables</span></a>
                                <ul>
                                    <li><a href='#'><span>ItemCoinage Containers</span></a></li>
                                    <li><a href='#'><span>Bag</span></a></li>
                                    <li><a href='#'><span>Envelopes</span></a></li>
                                    <li class='last'><a href='#'><span>Till Bags</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class='has-sub'>
                        <a href='#'><span>Financial Management</span></a>
                        <ul>
                            <li>@Html.ActionLink("Rejected Deposits", "Index", "FinancialManagement")</li>
                        </ul>
                    </li>
                    <li><a href='#'><span>Reports</span></a></li>
                    <li class='has-sub'>
                        <a href='#'><span>Maintenance</span></a>
                        <ul>
                            <li class='has-sub'>
                                <a href='#'><span>User Administration</span></a>
                                <ul>
                                    <li>@Html.ActionLink("Head Office User", "ListHeadOfficeUsers", "Administrator")</li>
                                    <li>@Html.ActionLink("Cash Center User", "ListCashCenterUsers", "Administrator")</li>
                                    <li class='last'>@Html.ActionLink("Merchant User", "ListMerchantUsers", "Administrator")</li>
                                </ul>
                            </li>
                            <li class='has-sub'>
                                <a href='#'><span>Location Administration</span></a>
                                <ul>
                                    <li class='has-sub'><a href='#'><span>Province Administration</span></a></li>
                                    <li class='last'><a href='#'><span>Cluster Administration</span></a></li>
                                </ul>
                            </li>
                            <li class='has-sub'> @Html.ActionLink("Merchant Administration", "Index", "Merchant") </li>
                            <li class='has-sub'>
                                <a href='#'><span>Site Administration</span></a>
                                <ul>
                                    <li class='has-sub'>@Html.ActionLink("Site", "Index", "Site")</li>
                                    <li class='has-sub'>@Html.ActionLink("Bank Settlement Account", "Index", "SiteSettlementAccount")</li>
                                    <li class='has-sub'>@Html.ActionLink("Product", "Index", "Product")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Cash Centre", "Index", "CashCenter")</li>
                            <li class='last'>@Html.ActionLink("CIT Carrier", "Index", "Carrier")</li>
                            <li class='has-sub'> @Html.ActionLink("Bank", "Index", "Bank") </li>
                            <li class='has-sub'> @Html.ActionLink("Product Type", "Index", "ProductType") </li>
                            <li class='has-sub'> @Html.ActionLink("Container Type", "Index", "ContainerType") </li>
                            <li class='has-sub'> @Html.ActionLink("Sales Area", "Index", "SalesArea") </li>
                            <li class='has-sub'> @Html.ActionLink("Cluster", "Index", "SbvCluster") </li>
                        </ul>
                    </li>
                    <li class='last'>@Html.ActionLink("Profile", "Manage", "Account")</li>
                    <li class='last'>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        }

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        <footer>
            © 2012 SBV Services (Pty) Ltd, Registered as a Security Service Provider by the PSIRA,registration number 4082 Company Reg. No. 1986/003865/07.<br />
            Phone: 011 283 2000&nbsp; Email: <a href="mailto:Helpdesk@sbv.co.za" class="link">Support Office</a>.
            <span>
                Developed by <a class="link" href="http://www.sbv.co.za/" target="_blank" rel="nofollow">SBV Services</a> Version :
                @typeof(MvcApplication).Assembly.GetName().Version.ToString()
            </span>
            <span>
                @Html.ActionLink("Admin Login", "AdminLogin", "Account")
            </span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/confirm")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/Urls")
    @Scripts.Render("~/bundles/customtoast")
    @Scripts.Render("~/bundles/ajaxcall")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)

    <script>
        @Html.Raw(TempData["Script"])

        $(document).ready(function () {
            jQuery.validator.setDefaults({
                highlight: function (element, errorClass, validClass) {
                    if (element.type === 'radio') {
                        this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                    } else {
                        $(element).addClass(errorClass).removeClass(validClass);
                        $(element).closest('.control-group').removeClass('success').addClass('error');
                    }
                },
                unhighlight: function (element, errorClass, validClass) {
                    if (element.type === 'radio') {
                        this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                    } else {
                        $(element).removeClass(errorClass).addClass(validClass);
                        $(element).closest('.control-group').removeClass('error').addClass('success');
                    }
                }
            });
        });
    </script>

</body>
</html>
