@using Kendo.Mvc.UI
@model Application.Dto.Site.SiteDto

@{
    ViewBag.Title = "Edit Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .label {
        width: 100px !important;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<div class="well">
    <p>Fields marked with an asterisk <span class="requiredField">*</span> are required</p>

    <div class="ui-widget-header">
        <h3 style="margin-left: 5px">Edit Site</h3>
    </div>


    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <div class="ui-widget-content" style="padding: 5px;">

                <div class="row">
                    <div class="span2">
                        @Html.LabelFor(model => model.MerchantId, new { @class = "label required", @style = "width:160px !important" })
                    </div>
                    <div class="span2">
                        <div class="span2">
                            @(Html.Kendo().DropDownList()
                                          .Name("MerchantId") //The name of the dropdownlist is mandatory. It specifies the "id" attribute of the widget.
                                          .DataTextField("Name") //Specifies which property of the Product to be used by the dropdownlist as a text.
                                          .DataValueField("Id") //Specifies which property of the Product to be used by the dropdownlist as a value.
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetMerchantsKendo", "Site"); //Set the Action and Controller name
                                              })
                                                  .ServerFiltering(true); //If true the DataSource will not filter the data on the client.
                                          }).HtmlAttributes(new { @style = "width: 239px; margin-left: -15px", tabindex = "1" })
                            )
                            @Html.ValidationMessageFor(model => model.MerchantId)
                        </div>
                    </div>
                    <div class="span2 offset2">
                        @Html.LabelFor(model => model.ContractNumber, new { @class = "label", style = "width: 160px !important" })
                    </div>
                    <div class="span2">
                        @Html.TextBoxFor(model => model.ContractNumber, new { @disabled = "disabled", @id = "txtContractNumber", @style = "width:225px; margin-bottom: 5px; margin-left: 5px;" })
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.Name, new { @class = "label required", @style = "width:160px !important" })
                        </div>

                        <div class="span2">
                            @Html.TextBoxFor(model => model.Name, new { @maxlength = "40", tabindex = "2", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.CitCode, new { @class = "label required", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.CitCode, new { @maxlength = "8", tabindex = "3", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.CitCode)
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.Description, new { @class = "label", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.Description, new { @maxlength = "20", tabindex = "4", @style = "width:225px;  margin-left: 5px" })

                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.SysproNumber, new { @class = "label required", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.SysproNumber, new { @maxlength = "20", tabindex = "5", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.SysproNumber)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.Label("Street Number", new { @class = "label required", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.Address.AddressLine1, new { @maxlength = "20", tabindex = "6", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.Address.AddressLine1)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.PostalAddress, new { @class = "label", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.PostalAddress, new { @maxlength = "20", tabindex = "7", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.PostalAddress)
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.Label("Street Name", new { @class = "label required", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.Address.AddressLine2, new { @maxlength = "40", tabindex = "8", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.Address.AddressLine2)
                        </div>
                        <div class="span2 offset2">
                            @Html.Label("Suburb", new { @class = "label", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.Address.AddressLine3, new { @maxlength = "20", tabindex = "9", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.Address.AddressLine3)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        @Html.LabelFor(model => model.CityId, new { @class = "label required", @style = "width:160px !important" })
                    </div>
                    <div class="span2">
                        @(Html.Kendo().DropDownListFor(a => a.CityId).BindTo(ViewData["Cities"] as SelectList).HtmlAttributes(new { @style = "width:238px; margin-left: 5px; margin-bottom: 8px", tabindex = "10" }))
                    </div>
                    <div class="input-prepend">
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.Address.PostalCode, new { @class = "label required", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.Address.PostalCode, new { @maxlength = "5", tabindex = "11", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.Address.PostalCode)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        @Html.LabelFor(model => model.CitCarrierId, new { @class = "label required", @style = "width:160px !important" })
                    </div>
                    <div class="span2">
                        @(Html.Kendo().DropDownListFor(a => a.CitCarrierId).BindTo(ViewData["CitCarriers"] as SelectList).HtmlAttributes(new { @style = "width:238px; margin-left: 5px; margin-bottom: 8px", tabindex = "12" }))
                    </div>
                    <div class="span2 offset2">
                        @Html.LabelFor(model => model.CashCenterId, new { @class = "label required", @style = "width:160px !important" })
                    </div>
                    <div class="span2">
                        @(Html.Kendo().DropDownListFor(a => a.CashCenterId).BindTo(ViewData["CashCenters"] as SelectList).HtmlAttributes(new { @style = "width:238px; margin-left: 5px; margin-bottom: 8px", tabindex = "13" }))
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.DepositReferenceIsEditable, new { @class = "label", @style = "width:155px !important" })
                        </div>
                        <div class="span2">
                            @Html.CheckBoxFor(model => model.DepositReferenceIsEditable, new { @style = "margin-left: 10px" })
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.DepositReference, new { @class = "label required", @style = "width:160px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.DepositReference, new { @maxlength = "20", tabindex = "14", @style = "width:225px;  margin-left: 5px" })
                            @Html.ValidationMessageFor(model => model.DepositReference)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        @Html.LabelFor(a => a.ContainerTypeIds, new { @class = "label required", style = "width: 160px !Important" })
                    </div>
                    <div class="span2">
                        @(Html.Kendo().MultiSelectFor(a => a.ContainerTypeIds)
                              .DataTextField("Name")
                              .DataValueField("Id")
                              .Filter(FilterType.StartsWith)
                              .DataSource(source =>
                              {
                                  source.Read(read =>
                                  {
                                      read.Action("GetContainerTypes", "Site"); //Set the Action and Controller name
                                  }).ServerFiltering(false);
                              })
                              .HighlightFirst(true)
                              .Placeholder("Click to Select ContainerTypes")
                              .HtmlAttributes(new { @style = "width:238px; margin-left: 5px; margin-bottom: 8px", @tabindex = "14", id = "ddlContainerTypes" }))
                    </div>

                    <div class="span2 offset2">
                        @Html.LabelFor(model => model.IsCashCentreAllowedDepositCapturing, new { @class = "label", @style = "width:155px !important" })
                    </div>

                    <div class="span2">
                        @Html.CheckBoxFor(model => model.IsCashCentreAllowedDepositCapturing, new { @style = "margin-left: 10px" })
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="span4">
                        <h4>Contact Information</h4>
                    </div>
                </div>
                

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContactPersonName1, new { @class = "label required", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonName1, new { @maxlength ="20", tabindex = "14" })
                            @Html.ValidationMessageFor(model => model.ContactPersonName1)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.ContactPersonName2, new { @class = "label", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonName2, new { @maxlength ="20", tabindex = "15" })
                            @Html.ValidationMessageFor(model => model.ContactPersonName2)
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContactPersonNumber1, new { @class = "label required", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonNumber1, new { @maxlength = 10, tabindex = "16" })
                            @Html.ValidationMessageFor(model => model.ContactPersonNumber1)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.ContactPersonNumber2, new { @class = "label", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonNumber2, new { @maxlength = 10, tabindex = "17" })
                            @Html.ValidationMessageFor(model => model.ContactPersonNumber2)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContactPersonEmailAddress1, new { @class = "label required", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonEmailAddress1, new { @maxlength ="50", tabindex = "18" })
                            @Html.ValidationMessageFor(model => model.ContactPersonEmailAddress1)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.ContactPersonEmailAddress2, new { @class = "label", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonEmailAddress2, new {@maxlength ="50", tabindex = "19" })
                            @Html.ValidationMessageFor(model => model.ContactPersonEmailAddress2)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ContactPersonDesignation1, new { @class = "label required", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonDesignation1, new { @maxlength ="20", tabindex = "20" })
                            @Html.ValidationMessageFor(model => model.ContactPersonDesignation1)
                        </div>
                        <div class="span2 offset2">
                            @Html.LabelFor(model => model.ContactPersonDesignation2, new { @class = "label", @style = "width:150px !important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.ContactPersonDesignation2, new { @maxlength ="20", tabindex = "21" })
                            @Html.ValidationMessageFor(model => model.ContactPersonDesignation2)
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.Comments, new { @class = "add-on ", @style = "width:150px" })
                        </div>
                        <div class=" span9">
                            @Html.TextAreaFor(model => model.Comments, new { @style = "width:101%", tabindex = "22" })
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(model => model.AddressId)
                @Html.HiddenFor(model => model.SiteId)
                @Html.HiddenFor(model => model.Address.AddressId)
                @Html.HiddenFor(model => model.Address.AddressTypeId)
                @Html.HiddenFor(model => model.Address.AddressTypeId)
                @Html.HiddenFor(model => model.ApprovalRequiredFlag)

                <div class="row">
                    <div style="margin-left: 33px">
                        <div class="span2 offset8">
                            <input type="submit" value="Save" class="btn btn-primary" style="width: 100px" />
                        </div>
                        <div class="span1">
                            <a href='@Url.Action("Index")' id="confirm" class="btn btn-danger" style="width: 70px; margin-left: -45px">Cancel</a>
                        </div>
                    </div>
                </div>

                <hr>

            </div>
        }
    </div>
</div>

<style type="text/css">
    .requiredField {
        font-weight: bold;
        font-size: 12pt;
    }

    #btnSubmit {
        visibility: hidden;
        top: -20px;
        position: absolute;
    }
</style>


<script type="text/javascript">

    $("#confirm").easyconfirm({ locale: { title: 'Confirm', button: ['No', 'Yes'], text: 'Site record is not yet Saved. Do you want to continue?' } });

    function Error() {
        $('#trloading').hide();
    }
</script>

<script id="approve-confirmation" type="text/x-kendo-template">
    <div>
        <img src="@Url.Content("~/Content/Images/question.png")" style="float:left" />
        <p style="margin-left:10px; float:rigth" class="approve-message"> &nbsp; &nbsp;Do you want to submit Site for Approval?</p>
    </div>

    <div style="margin-left:160px; margin-top:5px;">
        <button id="btnApproveConfirm" class="approve-confirm k-button" style="width:80px">Yes</button>
        <button id="btnApproveCancel" class="approve-cancel k-button" style="width:80px">No</button>
    </div>

</script>


<script id="delete-confirmation" type="text/x-kendo-template">

    <div>
        <img src="@Url.Content("~/Content/Images/question.png")" style="float:left" />
        <p style="margin-left:10px; float:rigth" class="delete-message"> &nbsp; &nbsp;Do you want to delete Site?</p>
    </div>

    <div style="margin-left:160px; margin-top:5px;">
        <button class="delete-confirm k-button" style="width:80px">Yes</button>
        <button class="delete-cancel k-button" style="width:80px">No</button>
    </div>

</script>



<script type="text/javascript">

    // Merchant dropdown change
    $("#MerchantId").change(function () {

        var parameters = { MerchantId: $(this).val() };

        var url = '@Url.Action("GetMerchantContract")/?merchantId=' + parameters.MerchantId;
        $.post(url, function (data) {
            // Merchant Contract Number
            $("#txtContractNumber").attr('value', data.ContractNumber);
        });
    });


    function ExecDelete() {

        var url = '@Url.Action("Delete")/?id=' + @Model.SiteId;

        var kendoWindow = $("<div />").kendoWindow({
            title: "Confirm Delete",
            resizable: false,
            modal: true,
            width: "430px",
            height: "160px"
        });

        kendoWindow.data("kendoWindow")
            .content($("#delete-confirmation").html())
            .center().open();

        kendoWindow
            .find(".delete-confirm,.delete-cancel")
            .click(function () {
                if ($(this).hasClass("delete-confirm")) {
                    $.post(url, function (data) {
                        window.location.href = data.url;
                    });
                }

                kendoWindow.data("kendoWindow").close();
            })
            .end();
    }


    function Private_Checked(){
        $("#chkDepositRef").click(function (){

            if ($('#chkDepositRef').is(':checked')){
                $('#txtSiteDepositRef').removeClass("Readonly");
            }
            else{
                $('#txtSiteDepositRef').addClass("Readonly");
            }
        });}



</script>

