
@{
    ViewBag.Title = "Vault Partial Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/App/Controllers/VaultPaymentController.js"></script>

<div class="well" ng-app="MySbvApp" ng-controller="VaultPaymentController">

    <p>Fields marked with an asterisk <span class="requiredField">*</span> are required</p>

    <div class="ui-widget-header">
        <h4 style="margin-left: 5px">mySBV Vault Payment</h4>
    </div>

    <div id="content">
        <form name="PaymentsForm" novalidate >
            <div class="ui-widget-content" style="padding: 5px;">
                <div class="row">
                    <div class="span2">
                        <label class="label required" style="width:180px !important">Merchant</label>
                    </div>
                    <div class="span2" show-errors>
                        <select kendo-drop-down-list
                                k-data-text-field="'Name'"
                                k-data-value-field="'MerchantId'"
                                k-data-source="model.Merchants"
                                ng-model="model.Payment.MerchantId"
                                k-on-change="getSites(kendoEvent, Url.siteUrl)"
                                style="width: 250px"
                                class="form-control"
                                name="Merchant"
                                required></select>
                    </div>

                    <div class="span2 offset2">
                        <label class="label required" style="width:180px !important">Site</label>
                    </div>
                    <div class="span2" show-errors>
                        <select kendo-drop-down-list
                                k-data-text-field="'Name'"
                                k-data-value-field="'SiteId'"
                                k-data-source="model.Sites"
                                k-on-change="getDevices(kendoEvent, Url.deviceUrl)"
                                ng-model="model.Payment.SiteId"
                                style="width: 250px"
                                class="form-control"
                                name="Site"
                                required></select>
                    </div>
                </div>


                <div class="row">
                    <div class="span2">
                        <label class="label required" style="width:180px !important">Device</label>
                    </div>
                    <div class="span2" show-errors>
                        <select kendo-drop-down-list
                                k-data-text-field="'Name'"
                                k-data-value-field="'DeviceId'"
                                k-data-source="model.Devices"
                                k-on-change="getAmountInDevice(kendoEvent, Url.amountUrl)"
                                ng-model="model.Payment.DeviceId"
                                style="width: 250px"
                                class="form-control"
                                name="Device"
                                required></select>

                    </div>
                    <div class="span2 offset2">
                        <label class="label" style="width:180px !important">Cit Code</label>
                    </div>
                    <div class="span2">
                        <input type="text"
                               disabled="disabled"
                               ng-model="model.Payment.CitCode"
                               style="width:237px !important" />
                    </div>
                </div>


                <div class="row">
                    <div class="span2">
                        <label class="label" style="width:180px !important">Available Funds</label>
                    </div>
                    <div class="span2">
                        <input type="text"
                               disabled="disabled"
                               ng-model="model.Payment.AvailableFunds"
                               style="width:235px !important" />
                    </div>

                    <div class="span2 offset2">

                    </div>
                    <div class="span2">

                    </div>
                </div>

                <br />

                <h4 style="margin-left: 5px">Beneficiary Details</h4>

                <div class="row">
                    <div class="span2">
                        <label class="label required" style="width:180px !important">Account Number</label>
                    </div>
                    <div class="span2" show-errors>
                        <select kendo-drop-down-list
                                k-data-text-field="'AccountNumber'"
                                k-data-value-field="'AccountId'"
                                k-data-source="model.Accounts"
                                ng-model="model.Payment.AccountId"
                                k-on-change="getBeneficiaryDetails(kendoEvent)"
                                style="width: 250px"
                                name="AccountNumber"></select>
                    </div>
                    <div class="span2 offset2">
                        <label class="label" style="width:180px !important">Beneficiary Name</label>
                    </div>
                    <div class="span2">
                        <input type="text"
                               disabled="disabled"
                               ng-model="model.Payment.BeneficiaryName"
                               style="width:235px !important" />
                    </div>
                </div>


                <div class="row">
                    <div class="span2">
                        <label class="label" style="width:180px !important">Bank Name</label>
                    </div>
                    <div class="span2">

                        <input type="text"
                               disabled="disabled"
                               ng-model="model.Payment.BankName"
                               style="width:235px !important" />
                    </div>
                    <div class="span2 offset2">
                        <label class="label required" style="width:180px !important">Amount To Be Paid</label>
                    </div>
                    <div class="span2" show-errors>
                        <input type="text"
                               name="AmountToBePaid"
                               class="form-control"
                               ng-model="model.Payment.AmountToBePaid"
                               ng-change="calculateRemaingAmount()"
                               ng-pattern="positiveNumberRegexValidator()"
                               style="width:235px !important"
                               required />
                    </div>
                </div>


                <div class="row">
                    <div class="span2">
                        <label class="label" style="width:180px !important">Remaining Funds</label>
                    </div>
                    <div class="span2">
                        <input type="text"
                               id="RemainingAmount"
                               disabled="disabled"
                               ng-model="model.Payment.RemainingAmount"
                               style="width:235px !important" />
                    </div>
                    <div class="span2 offset2">
                        <label class="label" style="width:149px !important">Default Reference</label>
                    </div>
                    <div class="span2">
                        <input type="checkbox"
                               ng-click="afterDefaultChanged(model.Payment.IsDefaultReference)"
                               ng-model="model.Payment.IsDefaultReference"
                               ng-disabled="model.Payment.SiteId == 0"
                               style="margin-left: 7px; height:30px; margin-top:-1px;" />
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        <label class="label required" style="width:180px !important">Payment Reference</label>
                    </div>
                    <div class="span2" show-errors>
                        <input type="text"
                               name="PaymentReference"
                               ng-disabled="model.Payment.IsDefaultReference || model.Payment.SiteId == 0"
                               ng-model="model.Payment.PaymentReference"
                               maxlength="20"
                               style="width:235px !important"
                               required />
                    </div>
                    <div class="span2 offset2">
                        <label class="label" style="width:180px !important">Beneficiary Email</label>
                    </div>
                    <div class="span2" show-errors>
                        <input type="email"
                               id="BeneficiaryEmail"
                               ng-model="model.Payment.BeneficiaryEmailAddress"
                               ng-trim="true"
                               ng-pattern="emailValidator()"
                               style="width:235px !important" />
                    </div>
                </div>

                <div class="row">
                    <div class="span2 offset6">
                        <a href='@Url.Action("Index", "Home")'
                           class="btn btn-danger"
                           style="width: 70px; margin-left:-480px !important;">Cancel</a>
                    </div>
                    <div class="span2">
                        <span style="width :100px ; margin-right:21px;"></span>
                        <input ng-click="clearForm(PaymentsForm)" class="btn btn-primary" style="width: 100px; margin-left: -10px" type="reset" value="Clear" />
                    </div>
                    <div class="span1">
                        <input name="command"
                               type="submit" value="Pay"
                               class="btn btn-success"
                               ng-click="confirmPayment()"
                               style="width: 100px; margin-left: -10px" />
                    </div>
                </div>
            </div>
            

            <div kendo-window="responseWindow"
                 k-width="460"
                 k-height="480"
                 k-resizable="false"
                 k-visible="false"
                 k-modal="true"
                 style="display: none">
                <div style="margin-left:20px;">
                    <p style="margin-left:5px;" class="confirmation-message"></p>
                    <table>
                        <tr>
                            <td valign="middle">
                                <label>Transaction Amount:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.AmountToBePaid"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Beneficiary Name:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.BeneficiaryName"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Bank Name:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.BankName"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Beneficiary Account Number:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="accountNumberText"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Transaction Date:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.TransactionDate"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                    </table>
                    
                    <p>
                        <b>
                            This deposit confirmation is not a proof of payment.<br />
                            While acting in good faith and exercizing with reasonable care,
                            SBV acted on the instructions of our client to issue this confirmation.
                            Our client selected to make a deposit to your nominated banking account as indicated above.
                            SBV cannot be held responsible for errors resulting from incorrect information furnished nor does it guarantee the deposit or when the time of the deposit is.
                            Verify authentication of this deposit through your bank.
                        </b>
                    </p>
                </div>

                <div style="margin-left:160px; margin-top:35px;">
                    <a class="k-button k-button-icontext k-grid-update"
                       ng-click="printReport(Url.receiptUrl, Url.reLoadUrl);"
                       style="width:80px !important; margin-left: -30px !important"><span><img src="~/Content/Images/printer.png" alt="" height="10" /> </span>Print</a>

                    <a class="k-button k-button-icontext k-grid-cancel"
                       ng-click="closePopup()"
                       style="width:80px !important; margin-left: 60px !important"><span class="k-icon k-cancel"></span>Close</a>
                </div>
            </div>
            
            <div kendo-window="loadingWindow"
                 k-width="290"
                 k-height="130"
                 k-resizable="false"
                 k-visible="false"
                 k-modal="true"
                 k-title="false"
                 style="display: none">
                <div style="margin-left:20px;">
                    <br />
                    <table>
                        <tr>
                            <td><img src="~/Content/Images/ajax-loader.gif" /></td>
                            <td style="width: 5px !important"></td>
                            <td>Please wait...</td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>

            <div kendo-window="confirmWindow"
                 k-width="460"
                 k-height="400"
                 k-resizable="false"
                 k-visible="false"
                 k-modal="true"
                 style="display: none">
                <div style="margin-left:20px;">
                    <p style="margin-left:5px;" class="confirmation-message"></p>
                    <table>
                        <tr>
                            <td valign="middle">
                                <label>Transaction Amount:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.AmountToBePaid"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Beneficiary Name:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.BeneficiaryName"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Bank Name:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.BankName"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Beneficiary Account Number:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="accountNumberText"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle">
                                <label>Transaction Date:</label>
                            </td>
                            <td>
                                <input type="text"
                                       ng-disabled="true"
                                       class="text"
                                       ng-model="model.Payment.TransactionDate"
                                       style="width:235px !important" />
                            </td>
                        </tr>
                    </table>
                    
                    <p style="color:red"><i>Please select 'Yes' to make a payment or 'No' to cancel the payment request.</i></p>
                </div>

                <div style="margin-left:160px; margin-top:35px;">
                    <a class="k-button k-button-icontext k-grid-update"
                       ng-click="requestPayment(model.Payment, Url.paymentUrl)"
                       style="width:80px !important; margin-left: -30px !important"><span class="k-icon k-update"></span>Yes</a>

                    <a class="k-button k-button-icontext k-grid-cancel"
                       ng-click="confirmWindow.close()"
                       style="width:80px !important; margin-left: 60px !important"><span class="k-icon k-cancel"></span>No</a>
                </div>
            </div>

            <div kendo-window="validationWindow"
                 k-width="390"
                 k-height="155"
                 k-resizable="false"
                 k-visible="false"
                 k-modal="true"
                 style="display: none">
                <div style="margin-left:20px; padding-bottom: 3px !important">
                    <br />
                    <table>
                        <tr>
                            <td><img src="~/Content/Images/grid_images/Delete.png" /></td>
                            <td style="width: 5px !important"></td>
                            <td class="confirmation-message"></td>
                        </tr>
                    </table>
                </div>
                <div style="margin-left:160px; margin-top:35px;">
                    <a class="k-button k-button-icontext k-grid-cancel" ng-click="validationWindow.close()"><span class="k-icon k-cancel"></span>Close</a>
                </div>
            </div>
            
            <div kendo-window="errorsWindow"
                 k-width="390"
                 k-height="260"
                 k-resizable="false"
                 k-visible="false"
                 k-modal="true"
                 style="display: none">
                <div style="margin-left:20px;">
                    <p style="margin-left:5px; color: red !important; font-weight:bold;" 
                       class="confirmation-message"></p>

                    <ul style='list-style-image:url("../../Content/images/bullet.jpg") !important;'>
                        <li ng-repeat="error in errors">{{error}}</li>
                    </ul>
                    <br />
                </div>
                <div style="margin-left:160px; ">
                    <a class="k-button k-button-icontext k-grid-cancel" ng-click="errorsWindow.close()"><span class="k-icon k-cancel"></span>Ok</a>
                </div>
            </div>

        </form>

    </div>

</div>


<style>
    
        div.error-window ul li {
            list-style-image: url(~/Content/Images/bullet.jpg)
        }


     .required:after 
     {
         content: "*";
         font-weight: bold;
         color: red;
     }

    a {
        text-decoration:none !important
    }

    .text {
        background: #fff !important;
        color: black !important;
    }
</style>


<script>
    var siteUrl = "@Url.Action("GetSites", "VaultPayment")";
    var deviceUrl = "@Url.Action("GetDevices", "VaultPayment")";
    var amountUrl = "@Url.Action("GetAmountInDevice", "VaultPayment")";
    var paymentUrl = "@Url.Action("ReleasePayment", "VaultPayment")";
    var receiptUrl =  "@Url.Action("PrintPaymentSlip", "VaultPayment")/?id=";
    var reLoadUrl =  "@Url.Action("Index", "VaultPayment")";
    var model = @ViewBag.PaymentModel;
</script>