
@using Kendo.Mvc.UI

@model IEnumerable<Application.Dto.FailedVaultTransaction.FailedTransactionHeaderDto>

@{
	ViewBag.Title = "List Failed Vault Transactions";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
	<div class="ui-widget-header">
		<h4 style="margin-left: 5px">Failed Vault Transactions</h4>
	</div>
	<div class="ui-widget-content" style="padding: 5px;">
	
		@if (ViewBag.IsValidUser == true)
		{
			@(Html.Kendo().Grid(Model)
				  .Name("Grid")
				  .Columns(columns =>
				  {
					  columns.Bound(e => e.SerialNumber);
					  columns.Bound(e => e.CitReceivedStatus);
					  columns.Bound(e => e.Supplier);
                  })
                  .HtmlAttributes(new { style = "" })
					  .ClientDetailTemplateId("template_requests")
                  .Sortable()
                  .Pageable(page => page.ButtonCount(5))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(10)
					  .Read(read => read.Action("FailedRequests", "VaultTransactions")))
                  .Events(events => events.DataBound("dataBound"))
                  .Filterable(filterable => filterable
                  .Extra(false)
                  .Operators(operators => operators
                  .ForString(str => str.Clear()
                  .StartsWith("Starts with")
                  .IsEqualTo("Is equal to")
                  .IsNotEqualTo("Is not equal to")
                  .Contains("Contains"))))
                  .ToolBar(toolbar =>
                  {
                      toolbar.Template(
					  @<text>
					<table class="serach-toolbar">
						<tr>
							<td>Search</td>
							<td>
								@(Html.Kendo().AutoComplete()
								.Name("SearchInput")
								.Filter("startswith")
								.MinLength(1)
								.HtmlAttributes(new { style = "width:350px" })
								.DataSource(source =>
								{
									source.Read(read =>
									{
										read.Action("AutoCompleteByColumn", "VaultTransactions").Data("onAdditionalData");
									}).ServerFiltering(true);
								}))
							</td>
							<td><label class="category-label" for="category">Filter</label></td>
							<td>
								<div class="toolbar">
									@(Html.Kendo().DropDownList()
									.Name("ddlFilterBy")
									.OptionLabel("All")
									.DataTextField("Name")
									.DataValueField("Tag")
									.AutoBind(false)
									.HtmlAttributes(new { @style = "width:200px !important;" })
									.DataSource(ds => ds.Read("FailedRequestsColumnsListingToolbarTemplate", "VaultTransactions")))
								</div>
							</td>
							<td>
								<span id="gap" class="gap">
									<a class="btn" id="RebindGrid"><strong>Search</strong></a>
								</span>
							</td>
						</tr>
					</table>
					  </text>);
				  })
			)



	<script id="template_requests" type="text/kendo-tmpl">
		@(Html.Kendo().Grid<Application.Dto.FailedVaultTransaction.FailedRequestListDto>()
			  .Name("FailedRequestsGrid#=Id#")
			  .Columns(columns =>
			  {
				  columns.Bound(e => e.CitCode);
				  columns.Bound(e => e.BeneficiaryCode);
				  columns.Bound(e => e.BagSerialNumber);
				  columns.Bound(e => e.TransactionType);
				  columns.Bound(e => e.TotalDepositAmount);
				  columns.Bound(e => e.StatusName);
				  columns.Bound(e => e.Supplier);
				  columns.Bound(o => o.BeneficiaryCode).Hidden();
				  columns.Bound(o => o.FailedRequestId).Hidden();

				  columns.Template(@<text></text>).ClientTemplate("#=resolveFailedRequest()#");
			  })
			  .DataSource(dataSource => dataSource
				  .Ajax()
				  .PageSize(10)
				  .Read(read => read.Action("FailedNonCitMessages", "VaultTransactions", new { serialNumber = "#=SerialNumber#" }))
			  )
			  .Events(events => events.DataBound("dataBound"))
			  .ToClientTemplate()
			  )
	</script>


	<script>
		function dataBound() {
			this.collapseRow(this.tbody.find("tr.k-master-row").first());
		}
	</script>
	
	<style type="text/css">
		.td-3rd-level-grid tr td {
			border: none !important;
		}
	</style>


		}
		else
		{
			<h4 style="color: red">
				The current logged in user has no profile. Make sure you are not making use of SBVAdmin Account when working on MySBV.
				This Account is only there for the development team. Thank you.
			</h4>
		}
	</div>
</div>

<script type="text/javascript">
	function dataBound() {
		this.collapseRow(this.tbody.find("tr.k-master-row").first());
	}

	function resolveFailedRequest() {
		var imageUrl = '@Url.Content("~/Content/Images/grid_images/edit.png")';
		var image = "<img src='" + imageUrl + "'/>";

		var action = 'javascript:getFailedRequestUrl(#=FailedRequestId#)';

		var html = "<a onclick='"+ action + "'>" + image + "</a>";
		return html;
	}


	function getFailedRequestUrl(failedRequestId) {
		window.location.href = '@Url.Action("Edit")/?id=' + failedRequestId;
	}


	$("#RebindGrid").click(function () {
		refreshGrid();
	});

	function refreshGrid() {
		var columnName = $("#ddlFilterBy").val();
		var searchValue = $.trim($("#SearchInput").val());
		searchValue = (searchValue == "") ? "________" : searchValue;
		var grid = $("#Grid").data("kendoGrid");
		if (columnName) {
			grid.dataSource.filter({ field: columnName, operator: "contains", value: searchValue });
		} else {
			grid.dataSource.filter({});
		}
	}

	$("#ddlFilterBy").change(function () {
		$("#SearchInput").kendoAutoComplete({
			dataTextField: $(this).val()
		});
		$("#SearchInput").css("width", "350px");
		$("#SearchInput").val("");
		if ($(this).val() == "") {
			refreshGrid();
		}
		$("#SearchInput").val("");
	});


	function onAdditionalData() {
		return {
			columName: $("#ddlFilterBy").val(),
			searchData: $("#SearchInput").val()
		};
	}

</script>