@using System.Drawing
@using System.Web.Optimization
@using System.Web.UI.WebControls
@using MvcReportViewer
@model Application.Dto.Report.ReportDto

@{
	ViewBag.Title = "mySBV.Reports";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
	.k-link {
		min-width: 25px !important;
	}

	.k-window-action {
		visibility: hidden;
	}
</style>


<link href="~/Content/KendoUI/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/KendoUI/kendo.common.min.css" rel="stylesheet" />
<script src="~/Scripts/KendoUI/kendo.aspnetmvc.min.js"></script>
<script src="~/Scripts/KendoUI/kendo.web.min.js"></script>

<div class="well">
	<div class="ui-widget-header">
		<h4 style="margin-left: 5px">Reports</h4>
	</div>
	<div class="ui-widget-content" style="padding: 5px;">

		@if (Model.UserTypeId != null)
		{
			using (Html.BeginForm())
			{
				@Html.ValidationSummary(true)

				<div id="reportName">
					<div class="row">
						<div class="input-prepend">
							<div class="span2">
								@Html.LabelFor(a => a.Name, new { @class = "add-on required", @style = "width: 140px" })
							</div>
							<div class="span3">
								@Html.DropDownListFor(m => m.ReportId, ViewData["Reports"] as SelectList, new { name = "ddlReports", id = "ddlReports", @style = "margin-left:-30px" })
								@Html.ValidationMessageFor(a => a.Name)
							</div>
							<div class="span2">
								<input type="submit" value="Load Report" class="btn" style="width: 150px; margin-left: -50px" />
							</div>
						</div>
					</div>
				</div>
				@Html.HiddenFor(a => a.UserTypeId)
			}

			if (ViewBag.IsLoaded)
			{
				var settings = new ControlSettings
				{
					ShowParameterPrompts = true,
					ShowFindControls = true,
					ShowPrintButton = true,
					ShowZoomControl = true,
					ShowExportControls = true,
					ShowPageNavigationControls = true,
					ShowToolBar = true,
					ShowRefreshButton = true,
					ShowBackButton = true,
					ShowReportBody = true
				};

				if (ViewBag.ReportName.ToUpper() == "VALIDATIONREPORT")
				{
					@Html.MvcReportViewerFluent(Model.Name).Attributes(new { Height = 600, Width = 900, style = "border: none; overflow:auto;" }).ControlSettings(settings)
				}
				else
				{
					@Html.MvcReportViewerFluent(Model.Name).ReportParameters(new { UserID = @ViewBag.UserIdParameter }).Attributes(new { Height = 600, Width = 900, style = "border: none; overflow:auto;" }).ControlSettings(settings)
				}
			}
		}
		else
		{
			<h4 style="color: red">
				The current logged in user has no profile. Make sure you are not making use of SBVAdmin Account when working on MySBV.
				This Account is only there for the development team. Thank you.
			</h4>
		}

	</div>
</div>


