@model Application.Dto.Account.LocalPasswordModel

<div style="margin-top: -14px">
    <h3>Change password</h3>

    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        <table>
            <tbody>
                <tr>
                    <td style="width: 120px">
                        @Html.LabelFor(m => m.OldPassword)<span class="requiredField"></span>
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "tbstyle", @maxlength = "20" })
                        @Html.ValidationMessageFor(a => a.OldPassword)
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px">
                        @Html.LabelFor(m => m.NewPassword)<span class="requiredField"></span>
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "tbstyle", @maxlength = "20" })
                        @Html.ValidationMessageFor(a => a.NewPassword)
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px">
                        @Html.LabelFor(m => m.ConfirmPassword)<span class="requiredField"></span>
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "tbstyle", @maxlength = "20" })
                        @Html.ValidationMessageFor(a => a.ConfirmPassword)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input style="margin-left: 120px" type="submit" value="Change password" class="btnStyle" />
                    </td>
                </tr>
            </tbody>
        </table>

    }
</div>
