@using System.Web.Optimization
@model Application.Dto.Account.LocalPasswordModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .label {
        width: 100px !important;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<section id="loginForm">

    <div class="well">
        <div class="container">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="span12">
                        @Html.ValidationSummary()
                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <h3>Update Administrator Password</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.OldPassword, new { @class = "label required", style = "width: 150px !Important" })
                        </div>
                        <div class="span2">
                            @Html.PasswordFor(model => model.OldPassword, new { @style = "width:230px; " })
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.NewPassword, new { @class = "label required", style = "width: 150px !Important" })
                            <span class="requiredField">*</span>
                        </div>
                        <div class="span2">
                            @Html.PasswordFor(model => model.NewPassword, new { @style = "width:230px; " })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "label required", style = "width: 150px !Important" })
                            <span class="requiredField">*</span>
                        </div>
                        <div class="span2">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @style = "width:230px; " })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2 offset2">
                        <input type="submit" value="Update" class="btn btn-success btn-small" style="width: 130px" />
                    </div>
                    <div class="span2">
                        @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-primary btn-small", @style = "margin-left: -27px; width: 90px" })
                    </div>
                </div>
            }

        </div>
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}