@using System.Web.Optimization
@model Application.Dto.Account.ForgotPassworModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .label {
        width: 100px !important;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{

    <div class="well">
        <div class="container">
            <div class="row">
                <div class="span12">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h3>Forgot Password</h3>
                    <p>Enter Username and Email Address to reset your password</p>
                </div>
            </div>

            <div class="row">
                <div class="input-prepend">
                    <div class="span2">
                        @Html.LabelFor(a => a.UserName, new { @class = "label required", style = "width: 150px !Important" })

                    </div>
                    <div class="span2">
                        @Html.TextBoxFor(a => a.UserName, new { @class = "tbstyle", @maxlength = "20" })
                        @Html.ValidationMessageFor(a => a.UserName)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-prepend">
                    <div class="span2">
                        @Html.LabelFor(a => a.EmailAddress, new { @class = "label required", style = "width: 150px !Important" })

                    </div>
                    <div class="span2">
                        @Html.TextBoxFor(a => a.EmailAddress, new { @class = "tbstyle", @maxlength = "200" })
                    </div>
                </div>
            </div>
            <!-- Buttons -->


            <div class="row">
                <div class="span2 offset2">
                    <input type="submit" value="Reset" class="btn btn-success btn-small" style="width: 130px">
                </div>

                <a href='@Url.Action("Index", "Home")' class="btn btn-primary btn-small" style="width: 85px"><strong>Cancel</strong></a>

            </div>




        </div>
    </div>






}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
