@model Application.Dto.Profile.UserProfileDto

@using System.Web.Optimization
@using Kendo.Mvc.UI

@{
    Layout = null;
}
<style type="text/css">
    .label {
        width: 100px !important;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<p>Fields marked with an asterisk <span class="requiredField">*</span> are required</p>

<div class="ui-widget-header">
    <h4 style="margin-left: 5px">Head Office User</h4>
</div>

<div id="content">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        var arr = new string[@Model.SiteIds.Count];
        for (int i = 0; i < Model.SiteIds.Count(); i++)
        {
            arr[i] = Model.SiteIds[i].ToString();
        }

        <div class="row">

            <div class="span4">
                <h4>User Information</h4>
            </div>

            <div class="span4 offset2">
                <h4>Login Information</h4>
            </div>

        </div>

        <div class="row">
            <div class="span2">

                @Html.LabelFor(a => a.TitleId, new { @class = "label required", @style = "width:150px !important" })

            </div>
            <div class="span2">
                @(Html.Kendo().DropDownListFor(a => a.TitleId).BindTo(ViewData["Titles"] as SelectList).HtmlAttributes(new { @style = "width:238px; margin-bottom: 8px" }))
            </div>
            <div class="input-prepend">
                <div class="span2 offset2">
                    @Html.LabelFor(a => a.UserName, new { @class = "add-on required", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.UserName, new { @class = "tbstyle", @id = "username", @maxlength = "12", @readonly = "readonly" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-prepend">
                <div class="span2">
                    @Html.LabelFor(a => a.FirstName, new { @class = "add-on required", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "tbstyle", @id = "firstname", @maxlength = "20" })
                    @Html.ValidationMessageFor(a => a.FirstName)
                </div>
                <div class="span2 offset2">
                    @Html.LabelFor(a => a.EmailAddress, new { @class = "add-on required", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.EmailAddress, new { @class = "tbstyle", @maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)

                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-prepend">
                <div class="span2">
                    @Html.LabelFor(a => a.LastName, new { @class = "add-on required", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.LastName, new { @class = "tbstyle", @id = "lastname", @maxlength = "20" })
                    @Html.ValidationMessageFor(a => a.LastName)
                </div>
                <div class="span2 offset2">
                </div>
                <div class="span2">
                    <a href="javascript:displayResetForm();" style="width: 220px" class="btn btn-default">Reset Password</a>

                </div>
            </div>
        </div>

        <div class="row" id="SAIdNumber">
            <div class="input-prepend">
                <div class="span2">
                    @Html.LabelFor(a => a.IdNumber, new { @class = "add-on required", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.IdNumber, new { @readonly = "readonly", @class = "tbstyle", @id = "idnumber", @maxlength = "14" })
                    @Html.ValidationMessageFor(a => a.IdNumber)
                </div>
            </div>
        </div>

        <div class="row" id="PassportNumber">
            <div class="input-prepend">
                <div class="span2">
                    @Html.LabelFor(a => a.PassportNumber, new { @class = "add-on required", style = "width: 150px" })
                    <span class="requiredField">*</span>

                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.PassportNumber, new { @readonly = "readonly", @class = "tbstyle", @id = "passportnumber", @maxlength = "20" })
                    @Html.ValidationMessageFor(a => a.PassportNumber)

                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-prepend">
                <div class="span2">
                    @Html.LabelFor(a => a.CellNumber, new { @class = "add-on required", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.CellNumber, new { @class = "tbstyle", @maxlength = "10" })
                    @Html.ValidationMessageFor(a => a.CellNumber)

                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-prepend">

                <div class="span2">
                    @Html.LabelFor(a => a.OfficeNumber, new { @class = "add-on required", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.OfficeNumber, new { @class = "tbstyle", @maxlength = "10" })
                    @Html.ValidationMessageFor(a => a.OfficeNumber)

                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-prepend">
                <div class="span2">
                    @Html.LabelFor(a => a.FaxNumber, new { @class = "add-on", @style = "width:150px" })
                    <span class="requiredField">*</span>
                </div>
                <div class="span2">
                    @Html.TextBoxFor(a => a.FaxNumber, new { @class = "tbstyle", @maxlength = "10" })
                    @Html.ValidationMessageFor(a => a.FaxNumber)

                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="span2">
                <h4>Role Information</h4>

            </div>
            <div class="span2">
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <h5>User must have at least 1 role<span class="requiredField">*</span></h5>

            </div>

        </div>

        <div class="row">
            <div class="span2">
                @Html.LabelFor(model => model.IsAdmin, new { @disabled = "disabled" })
            </div>
            <div class="span2">
                @Html.LabelFor(model => model.IsApprover, new { @disabled = "disabled" })
            </div>
            <div class="span2">
                @Html.LabelFor(model => model.IsFinanceReviewer, new { @disabled = "disabled" })
            </div>
            <div class="span2">
                @Html.LabelFor(model => model.IsDataCapture, new { @disabled = "disabled" })
            </div>
        </div>

        <div class="row">
            <div class="span2">
                @Html.HiddenFor(a => a.IsAdmin)
                @Html.CheckBoxFor(model => model.IsAdmin, new { @disabled = "disabled" })
            </div>
            <div class="span2">
                @Html.HiddenFor(a => a.IsApprover)
                @Html.CheckBoxFor(model => model.IsApprover, new { @disabled = "disabled" })
            </div>
            <div class="span2">
                @Html.HiddenFor(a => a.IsFinanceReviewer)
                @Html.CheckBoxFor(model => model.IsFinanceReviewer, new { @disabled = "disabled" })
            </div>
            <div class="span2 ">
                @Html.HiddenFor(a => a.IsDataCapture)
                @Html.CheckBoxFor(model => model.IsDataCapture, new { @disabled = "disabled" })
            </div>
        </div>

        <hr />

        @Html.HiddenFor(a => a.UserId)
        @Html.HiddenFor(a => a.CreatedById)
        @Html.HiddenFor(a => a.UserTypeId)
        @Html.HiddenFor(a => a.CreateDate)

        <div class="row">
            <div class="span1 offset9">
                <input type="submit" value="Save" class="btn btn-primary" style="width: 100px; margin-left: -25px" />
            </div>
            <div class="span1">
                <a href='@Url.Action("Index", "Home")' id="confirm" class="btn btn-danger" style="width: 70px; margin-left: 0px">Cancel</a>
            </div>
        </div>

    }
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });

</script>