@using System.Web.Optimization
@model Application.Dto.Account.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/__LoginLayout.cshtml";
}
<style type="text/css">
    .label {
        width: 100px !important;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<section id="loginForm">

    @using (Html.BeginForm(new { ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="well">
            <div class="container">

                <div class="row">
                    <div class="span12">
                        @Html.ValidationSummary()
                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <h3>Login</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.UserName, new { @class = "label required", style = "width: 150px !Important" })
                        </div>
                        <div class="span2">
                            @Html.TextBoxFor(model => model.UserName)
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-prepend">
                        <div class="span2">
                            @Html.LabelFor(model => model.Password, new { @class = "label required", style = "width: 150px !Important" })
                            <span class="requiredField">*</span>
                        </div>
                        <div class="span2">
                            @Html.PasswordFor(model => model.Password, new { @style = "width:230px; " })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2 offset2">
                        <input type="submit" value="Login" class="btn btn-success btn-small" style="width: 130px" />
                    </div>
                    <div class="span2">
                        @Html.ActionLink("Forgot Password", "ForgotPassword", null, new { @class = "btn btn-primary btn-small", @style = "margin-left: -27px" })
                    </div>
                </div>

            </div>
        </div>

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}